*{
	padding: 100;
	margin: 200;
	box-sizing: border-box;
	font-family: sans-serif;
}
.intro{
	background: #F98404;
    height: 130px;
    margin-bottom: 20px;
}
h1{
	color: #4C4B4B;
	font-weight: bold; 
	transition: 0.5s; 
    padding-top: 35px;
    padding-left: 525px;
    width: 1000px;
}
h3{
    color:#51c4d3;
    margin-top: 10px;
}
button{
	border:none;
	border-radius: 15px;
	padding: 35px;
	background:#F98404; 
	color:black;
    font-weight: bold;
	letter-spacing: 1.5px;
	font-size: 20px;
	transition: 0.5s;
    height: 100px;
    margin-top: 10px;
}
button:hover,h1:hover{
	transform: scale(1.1);
}
button:hover{
	background-color:#4C4B4B;
}
footer{
	color:#586776;
	background-color:#EAF0F1;
	letter-spacing: 0.5px;
}
footer p{
	margin: 0,0,20,0;
	font-size: 16px;
}
@media only screen and (orientation:portrait){
	.intro{
		display:flex;
		flex-direction: column-reverse;
	}
	h1{
		font-size: 30px;
	}
	.act{
		padding-bottom: 200px;
	}
}